.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search h1{
    color: #fefefe;
}
.search input{
    display: flex;
    align-items: center;

    border: none;
    outline: none;

    padding: 0.5rem;
    border-radius: 100px;
    font-size: 1.25rem;
    
    width: 100%;
    margin-left: 20rem;
    margin-right:20rem;
    

    color: #fefefe;
    background-color: #272727;
}

.search button{
    border-radius: 100px;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    margin: 0.5rem;
    color: #fefefe;
    background-color: #272727;
}

@media screen and (max-width: 992px) {
    .search input{
        margin-left: 2rem;
        margin-right:2rem;
    }
  }